[Unit]
Description=EnableX Facex 1to1 App
#Requires=After=mysql.service       # Requires the mysql service to run first
After=network.target

[Service]
#PIDFile=
User=svcvplatx
Group=svcvplatx
#Environment=PATH=/usr/bin:/usr/local/bin
#Environment=NODE_ENV=production
#WorkingDirectory=/opt/vcloudx/facex1to1App
ExecStart=/usr/bin/node /opt/vcloudx/facex1to1App/server/server.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
#StartLimitInterval=0
#KillSignal=SIGQUIT
# Output to log file
StandardOutput=append:/opt/vcloudx/var/logs/{{ansible_hostname}}/facex1to1App/vcxFacex1to1App.log
StandardError=append:/opt/vcloudx/var/logs/{{ansible_hostname}}/facex1to1App/vcxFacex1to1App.log
# Output to syslog
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=vcxFacex1to1App

[Install]
WantedBy=multi-user.target

