[Unit]
Description=Mutiplarty Sample App
#Requires=After=mysql.service       # Requires the mysql service to run first
After=network.target

[Service]
#PIDFile=
User=svcvplatx
Group=svcvplatx
#Environment=PATH=/usr/bin:/usr/local/bin
#Environment=NODE_ENV=production
#WorkingDirectory=/opt/vcloudx/multiparty_call
ExecStart=/usr/bin/node /opt/vcloudx/multiparty_call/server/server.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
#StartLimitInterval=0
#KillSignal=SIGQUIT
# Output to log file
StandardOutput=append:/opt/vcloudx/var/logs/{{ansible_hostname}}/multiparty_call/vcxMpartyApp.log
StandardError=append:/opt/vcloudx/var/logs/{{ansible_hostname}}/multiparty_call/vcxMpartyApp.log
# Output to syslog
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=vcxMpartyApp

[Install]
WantedBy=multi-user.target

