[Unit]
Description=EnableX processInfo Service
#Requires=After=mysql.service       # Requires the mysql service to run first
After=network.target

[Service]
#PIDFile=
User=svcvplatx
Group=svcvplatx
#Environment=PATH=/usr/bin:/usr/local/bin
#Environment=NODE_ENV=production
#WorkingDirectory=/opt/vcloudx/voiceApi
#ExecStart=/usr/bin/node /opt/vcloudx/voiceApi/server/Server.js
WorkingDirectory=/opt/vcloudx/processInfoConsumerService
ExecStart=/usr/bin/node /opt/vcloudx/processInfoConsumerService/processInfoConsumer.js
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
#StartLimitInterval=0
#KillSignal=SIGQUIT
# Output to log file
#StandardOutput=append:/opt/vcloudx/var/logs/{{ansible_hostname}}/voiceApi/vcxVoiceApi.log
#StandardError=append:/opt/vcloudx/var/logs/{{ansible_hostname}}/voiceApi/vcxVoiceApi.log
# Output to syslog
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=vcxVoiceApi

[Install]
WantedBy=multi-user.target

